/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HK Grotesk', sans-serif;
}

body, html {
    height: 100%;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

.horizontal-container {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
}

.horizontal-scroll {
    display: flex;
    height: 100%;
    width: 200%; /* Ensure horizontal scrolling */
    transition: transform 0.5s ease;
}

.section {
    flex: 0 0 50%;
    height: 100%;
    position: relative;
}

.section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-color: #4169e1;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #314dbd;
}

.vertical-container {
    height: 100vh;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
}

.vertical-container section {
    height: 100vh;
    width: 100%;
}

.vertical-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
